<div>
    <h1></h1>
    <div class="dos comobo">
        <label for="">Subdiario</label>
        <mat-form-field appearance="fill">
            <mat-label>{{datosNuevos2[0]}} {{datosNuevos2[1]}}</mat-label>
            <mat-select disabled=true [(value)]="datosNuevos">
                <!-- <mat-option>{{datosNuevos[0]}}</mat-option> -->
            </mat-select>
        </mat-form-field>
    </div>
    <div class="dos">
        <mat-form-field>
            <input class="text"  matInput placeholder="Numero Actual" >
        </mat-form-field>
        <mat-form-field>
            <input matInput disabled=true placeholder="Ultimo numero Real" [(ngModel)]="datosNuevos[0].nl_nume">
        </mat-form-field>
    </div>
    <div class="dos">
        <ul>
            <p><small>Creación</small></p>
            <li>usuario: {{datosNuevos[0].nl_usrcrea}}</li>
            <li>Fecha: {{datosNuevos[0].nl_feccrea}}</li>
            <li>Hora: {{datosNuevos[0].nl_hracrea}}</li>
        </ul>
        <ul>
            <p><small>Actualización</small></p>
            <li>usuario:</li>
            <li>Fecha: {{date.getFullYear()+"/"+date.getMonth()+"/"+date.getDay()}}</li>
            <li>Hora: {{date.getHours()+":"+date.getMinutes()+":"+date.getMinutes()}}</li>
        </ul>

    </div>
    <div class="dos">
        <button mat-raised-button color="primary" (click)="operar()">Guardar</button>
<button mat-raised-button color="accent" (click)="cerrar()">Cancelar</button>
    </div>


</div>
<div class="card">
    <div class="card-body">
      
    </div>
  </div>