.dos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
     /* background-color: blueviolet;
     color: brown; */
}
.dos .mat-form-field, .dos .mat-form-field{
    width: 100%;
    /* height: 100%; */
}
.dos>mat-form-field{
    width: 120px;
}
.dos li {
   list-style:none;
   all: none;
   /* background-color: aqua; */
}
/* .dos ul{
   margin-left: -10px;
    background-color: aqua;
    display: block;
} */